:root {
  --main-blue: #0066b3;
  --main-blue-dark: #004d86;
  --footer-blue: #15597d;
  --menu-font: 'Roboto', Arial, Helvetica, sans-serif;
  --gray-bg: #f7fafd;
  --gray-titlebar: #efefef;
  --btn-main: #22A9E1;
  --btn-outline: #fff;
  --btn-main-hover: #156ec7;
  --section-title: #0070b6;
  --section-icon: #22a9e1;
}